button {
  cursor: pointer;
  background: $green-500;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  height: 40px;
  padding: 0 40px;

  &:focus {
    outline: none;
  }

  &:hover {
    background: $green-100;
  }
}

button.disabled {
  background: $gray-500;
  color: $gray-600;
  cursor: default;
}
