@import "~react-dropzone-uploader/dist/styles.css";

.dropzone-component {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  &__header {
    display: flex;
    justify-content: flex-end;

    &__btns {
      display: flex;
    }

    &__btn {
      cursor: pointer;
      display: flex;
      padding: 15px;

      i {
        color: lightgray;
      }

      &:hover i {
        color: $green-100;
      }

      &--active i {
        color: $green-500;
      }

      label {
        cursor: pointer;
      }
    }
  }

  &__body {
    padding: 0 1rem 1rem;

    .dzu-dropzone {
      $dropzone-height: 400px;

      background: #ededed;
      height: $dropzone-height;
      max-height: $dropzone-height;
      overflow-x: hidden;
      overflow-y: scroll;

      .dropzone-text {
        position: absolute;
        font-size: 40px;
        font-weight: 300;
      }

      .dropzone-subtext {
        text-align: center;
        font-size: 16px;
        margin-top: 16px;
      }
    }

    .dzu-inputLabel {
      background-size: 40px 40px;
      background-image:
        linear-gradient(to right, $gray-500 1px, transparent 1px),
        linear-gradient(to bottom, $gray-500 1px, transparent 1px);
    }

    .dzu-dropzoneActive {
      border: 2px solid #d9d9d9;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

    button {
      margin-right: 1rem;
      width: 220px;
    }
  }

  &__files {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    padding: 10px;
    width: 100%;

    &--axis-xy {
      justify-content: flex-start;
      flex-direction: row;
      flex-flow: wrap;
    }

    &--axis-y {
      align-items: center;
      flex-direction: column;
      width: 100%;
    }
  }

  @mixin truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__file {
    $self: &;

    background: #fff;
    border-radius: 3px;
    border: 4px solid white;
    box-sizing: border-box;
    color: black;
    cursor: grab;
    display: flex;
    font-size: 16px;
    font-weight: normal;
    height: 180px;
    position: relative;
    user-select: none;
    width: 140px;

    &:hover {
      background: lighten($gray-500, 7%);
    }

    &--grabbing {
      background: $green-500;
      border-color: $green-500;

      .dropzone-component__file__remove-btn {
        display: none !important;
      }
    }

    &--axis-xy {
      margin: 0 30px 30px 0;

      #{$self}__remove-btn {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 1;

        i {
          font-size: 1.5rem;
        }
      }

      #{$self}__thumbnail {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;

        object {
          display: block;
          height: 60%;
          max-width: 100%;
        }

        div {
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          height: 60%;
          width: 80%;
        }
      }

      #{$self}__meta-name {
        @include truncate-text;
        bottom: 0;
        font-size: 12px;
        left: 0;
        position: absolute;
      }

      #{$self}__sort-index,
      #{$self}__meta-size {
        display: none;
      }
    }

    &--axis-y {
      align-items: center;
      margin-bottom: 10px;
      height: 50px;
      width: 100%;
      padding: 0 10px;

      &:last-child {
        margin-bottom: 0;
      }

      #{$self}__thumbnail {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 10%;

        object,
        img {
          display: block;
          height: 100%;
          max-width: 100%;
        }
      }

      #{$self}__thumbnail {
        display: none;
      }

      #{$self}__sort-index {
        margin-right: 10%;
        width: 10%;
      }

      #{$self}__meta-name {
        @include truncate-text;
        margin-right: 10%;
        width: 30%;
      }

      #{$self}__meta-size {
        width: 20%;
      }

      #{$self}__remove {
        position: absolute;
        right: 15px;
      }

      #{$self}__remove-btn {
        cursor: pointer;

        i {
          font-size: 1.5rem;
        }
      }
    }
  }
}
