@import "base/reset";
@import "base/variables";
@import "base/typography";
@import "base/buttons";
@import "base/icons";
@import "components/dropzone-component";

.app {
  padding: 1rem;

  &__title {
    margin-bottom: 1rem;
    text-align: center;
  }
}
